.search-div
{
	display:flex;
	flex-direction: row;
	
}
.dark-change-border {

}

.dark-change-font {

}

.dark-change-text {

}

.text-in-menu {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: black;

}

.link-in-menu {
    text-decoration: none;
    color: #0059b4;
}

dialog.mini-window-in-angle {
    border-radius: 10%;
    border: solid 3px;
    border-color: #0059b4;

}

#close {
    position: relative;
    top: 110%;
    left: 60%;
}

.dark-theme {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 2px black;
    border-radius: 10%;
    border-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
}

.dark-text {
    position: relative;
    padding: 8px;
}

.menu-btn {
    background: url("../pictures/menu.svg") no-repeat center;
    font-size: 16px;
    color: white;
    height: 25px;
    width: 25px;
    position: relative;
    left: 20px;
    top: 55px;

}

img.pic_with_text_near {
    display: inline;
    /*width: 150;
    height: 150;*/
    border: 7px #0059b4 solid;
    border-radius: 100px;
    padding: 3px
}


div.big-name {
    font-family: 'Philosopher', sans-serif;
    font-size: 60px;
    color: #0059b4;
    position: relative;
    top: 100px;
    left: 40px;
}

.phil {
    font-family: 'Philosopher', sans-serif;
}

.main_profile {
    display: flex;
    flex-direction: row;
}

div.out-block {
    height: 900px;
    width: 900px;
    border: 3px solid;
    border-color: rgba(0, 0, 256, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

div.text {
    overflow: auto;
    color: #0059b4;
}

div.text-in {
    position: relative;
    top: 40px;
    left: 20px;
    right: 20px;
    height: 850px;
    width: 850px;
    font-size: 30px;

}

.high {
    display: inline;

}

.semi-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100px;
    top: 30px;

}

.department-body {
    text-align: center;
    border: solid 2px;
    border-color: rgba(0, 0, 256, 0.1);
    border-radius: 15px;
    width: 900px;
    height: 50px;
}

.departament-text {
    text-align: center;
    font-size: 40px;
}

#menu {
    position: fixed;

}

.shapka {
    display: flex;
    flex-direction: row;
}

.dbotton {
    background: white;
    border: none;
    width: 300px;
    height: 100px;
    position: absolute;
}

.ramka {
    display: inline-block;
    background: white;
    border: solid 2px #0059b4;
    border-radius: 10px;
    font-weight: 700;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}

.portalst {
    position: absolute;
    margin: 100px 100px;
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    color: #0059b4;
}

img.pic_with_text_near_big {
    display: inline;
    width: 200px;
    height: 200px;
    border: 4px #0059b4 solid;
    border-radius: 200px;
    padding: 1px
}


div.name_date_big {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: #0059b4;
}

.accaunt-flex {
    position: absolute;
    /*margin: 10px 800px; */
    left: 1600px;
    top: 30px;
}

img.pic_with_text_near1 {
    display: inline;
    width: 100px;
    height: 100px;
    border: 3px #0059b4 solid;
    border-radius: 100px;
    padding: 3px;
}


div.big-name1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    color: #0059b4;
    position: relative;
    top: 40px;
    left: 15px;
}

.phil {
    font-family: 'Philosopher', sans-serif;
}

.main_profile {
    display: flex;
    flex-direction: row;
}

* {
    box-sizing: border-box;
}

form {
    position: absolute;
    width: 300px;
    left: 900px;
    top: 50px;
    /*   margin: 10px 400px; */
}

input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 4px solid #0059b4;
    border-radius: 5px;
    outline: none;
    background: white;
    color: #9E9C9C;
}

button.search-top {
<<<<<<< HEAD
    position:relative;
	right: 4px;
=======
    position: absolute;
    top: 0;
>>>>>>> c8e5ef1fcff0fe516ad69844175e14dbb618dae8
    width: 42px;
    height: 42px;
    border: 4px solid #0059b4;
    background: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button.search-top:before {
    content: url("../pictures/lupa.png");
    font-size: 16px;
    color: white;
}


.menu, .menu * {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.menu {
    position: absolute;
    background: white;
    /*margin: 200px -800px;*/
    top: 200px;
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: #0059b4;
    cursor: pointer;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    /*align-items: left;*/
}

.menu ul li {
    margin: 5px 50px;
    padding: 5px;
}

.menu ul li:hover {
    background: #0059b4;
    color: white;
}

.menu.shrift {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: Blue;
}


.information {
    position: absolute;
    left: 500px;
    top: 200px;
}

.catletit {
    position: absolute;
    animation-iteration-count: infinite;
    display: block;
}

.nazad {
    position: absolute;
    left: 650px;
    animation-iteration-count: infinite;
    display: none;
}
<<<<<<< HEAD
.up-button{
	border-radius:30px;
	width:26px;
	height:26px;
	position:fixed;
	top:90vh;
	left:95vw;
	background-color:#bbbbbb;
	opacity:0.2;
}
.up-button:hover{
	opacity:0.5;
}
.up-button:active{
	opacity:0.7;
}
=======
>>>>>>> c8e5ef1fcff0fe516ad69844175e14dbb618dae8

