.more {display : none }
.myBtn {
	cursor : pointer;
	opacity : 0.2;
	background : white;
	border-radius: 10px;
}
.myBtn:hover{
	opacity : 0.5;
	background : pink ;
    border-radius: 10px;

}

	

img.pic_with_text_near1 {
    display: inline;
    width: 100px;
    height: 100px;
    border: 3px #0059b4 solid;
    border-radius: 100px;
    padding: 3px;
}


div.big-name1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    color: #0059b4;
    position: relative;
    top: 40px;
    left: 15px;
}

.novost-position {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 300px;
    left: 700px;
}

.lenta {
    display: flex;
    flex-direction: column;
}

.obernut {
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 256, 0.3);
    width: 640px;
    height: auto;
    padding-bottom: 22px;
}

.otstup {
    position: relative;
    top: 20px;
    left: 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 256, 0.3);
    padding: 10px;
    height: auto;
    width: 640px;
}

    .shapka {
    display: flex;
    position: relative;
    flex-direction: row;
    top: 20px;
    left: 30px;
}

.dbotton {
    background: white;
    border: none;
    wight: 700px;
    height: 100px;
    position: absolute;
}

.rocket {
    margin: 20px 300px;
}

.kot {
    margin: 300px 20px;
}

.ramka {
    display: inline-block;
    background: white;
    border: solid 2px #0059b4;
    padding-box: 5px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}

.portalst {
    position: absolute;
    margin: 100px 100px;
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    color: #0059b4;
}

img.pic_with_text_near {
    display: inline;
    /*width: 60;
    height: 60;*/
    border: 4px #0059b4 solid;
    border-radius: 5px;
    padding: 1px
}

table.table_name_date {
    display: inline;
}

div.name_date {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: #0059b4;
}

.accaunt-flex {
    position: absolute;
    /*margin: 10px 800px; */
    left: 1600px;
    top: 30px;
}

img.pic_with_text_near {
    display: inline;
    width: 100px;
    height: 100px;
    border: 3px #0059b4 solid;
    border-radius: 100px;
    padding: 3px;
}


div.big-name {
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    color: #0059b4;
    position: relative;
    top: 40px;
    left: 15px;
}

.phil {
    font-family: 'Philosopher', sans-serif;
}

.main_profile {
    display: flex;
    flex-direction: row;
}

* {
    box-sizing: border-box;
}

form {
    position: absolute;
    width: 300px;
    left: 900px;
    top: 50px;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 4px solid #0059b4;
    border-radius: 5px;
    outline: none;
    background: white;
    color: #9E9C9C;
}

.button-search {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: 4px solid #0059b4;
    border-radius: 5px;
    background: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.button-search:before {
    content: url("../pictures/lupa.png");
    font-size: 16px;
    color: white;
}


.menu, .menu * {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.menu {
    position: absolute;
    background: white;
    flex-direction: column;
    /*margin: 200px -800px;*/
    top: 200px;
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: #0059b4;
    cursor: pointer;
}

.menu ul {
    list-style: none;
    display: flex;
    position: fixed;
    flex-direction: column;
    /*align-items: left;*/
}

.menu ul li {
    margin: 5px 50px;
    padding: 5px;
}

.menu ul li:hover {
    background: #0059b4;
    color: white;
}

.menu.shrift {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: Blue;

}


.tools {
    display: flex;
    flex-direction: row;
}

    .tools button {
        width: 40px;
        height: 30px;
    }


.calend {
    font-family: 'Philosopher', sans-serif;
    color: #0059b4;
    position: absolute;
    left: 700px;
    font-size: 30px;
    top: 350px;
}

.string_comment {
    margin: 0px -120px;
    display: flex;
    border: 2px solid;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 20px;
    width: 620px;
    height: 140px;
    padding: 10px;
    color: #0059b4;
    border-radius: 10px;
    border-radius: 10px;
    background: white;
}


.commentarium ul {
    display: none;
}


.commentarium.open ul {
    display: block;
}


.commentarium.button_comment {
    font-size: 18px;
    cursor: pointer;
}




.position-in-vvod {
    position: relative;
    top: 50px;
    left: 20px;
    width: 400px;
    height: 30px;
}

.position-in-button {
    position: relative;
    left: 30px;
    width: 40px;
    height: 30px;
    top: 55px;
}

.student-list {
    margin-top: 150px;
    margin-left: 760px;
    width: 450px;
    font-family: 'Philosopher', sans-serif;
}


.id {
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial;
    margin: 0;
}


* {
    box-sizing: border-box;
}


img {
    vertical-align: middle;
    flex-direction: row;
}


.container {
    position: relative;
}


.mySlides {
    display: none;
    justify-content: center;
}


.cursor {
    cursor: pointer;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: blue;
}


.row:after {
    content: "";
    display: flex;
    clear: both;
}


.column {
    display: flex;
    flex-direction: row;
    float: left;
    width: 16.66%;
}


.demo {
    opacity: 0.6;
}


.active,
.demo:hover {
    opacity: 1;
}

.flexik {
    display: flex;
    justify-content: center;
}

.catletit {
    position: absolute;
    left: 0px;
    animation-iteration-count: infinite;
    display: block;

}

.nazad {
    position: absolute;
    left: 650px;
    animation-iteration-count: infinite;
    display: none;

}
.up-button{
	border-radius:30px;
	width:26px;
	height:26px;
	position:fixed;
	top:90vh;
	left:95vw;
	background-color:#bbbbbb;
	opacity:0.2;
}
.up-button:hover{
	opacity:0.5;
}
.up-button:active{
	opacity:0.7;
}

