<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Philosopher&amp;display=swap" rel="stylesheet">
    <link href="~/css/shapka.css" rel="stylesheet" />
    <link href="~/css/gallery.css" rel="stylesheet" />
    <link href="~/css/post.css" rel="stylesheet" />
    <title>@ViewData["Title"] - Site_ducks</title>




</head>
<body>




    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Site_ducks</p>
        </footer>
    </div>




    @RenderSection("Scripts", required: false)
</body>
</html>
