@model Site_ducks.Models.AuthorisationData;
@{
    Layout = "_LayoutAuthorisation";
}


<canvas class="position" height=1080 id="canvas" width=1920></canvas>
<div class="on-canvas">
    <div class="dark-theme dark-btn-position-auth">
        <div class="dark-text text-in-menu">Тёмная тема</div>

        <div class="toggle-button-cover">

            <div class="button r" id="button-1">
                <input class="checkbox" type="checkbox">
                <div class="knobs"></div>
                <div class="layer"></div>
            </div>

        </div>
    </div>

    <div><img height="350" src="~/images/cat_and_flag.png" width="400"></div>
    <form asp-action="SendAuthorisationData" method="post">
        <table class="goodback position my-flex-container dark-change-border dark-change-background-menu dark-change-text">
            <tr>
                <td> Authorization</td>
            </tr>
            <tr>

                <td><label asp-for="Login"><b>Login</b></label></td>
                <td><input placeholder="Enter Username" required type="text" asp-for="Login" /></td>
            </tr>

            <tr>

                <td><label asp-for="Password"><b>Password</b></label></td>
                <td><input  placeholder="Enter Password" required type="password" asp-for="Password" /></td>

            </tr>
            <tr>
                <td style="text-align: center"><a href="../index.html"><input type="submit" value="Войти"></a></td>
            </tr>


        </table>
    </form>

    
    <img class="catletit" src="~/images/catletit.png" width=250>
    <img class="nazad" src="~/images/catletitnazad.png" width=250>
</div>

