@{
    ViewData["Title"] = "Home Page";
}

<div class="shapka">
    <a href="index.html" id="main_logo">
        <img class="dbotton dark-change-background-menu"
             src="~/images/logofot.png">
    </a>
    <p class="portalst dark-change-text">
        <a href="index.html" id="student_portal"> <font>Портал стажера</font></a>
    </p>
    <form>
        <input class="dark-change-border" placeholder="Search..." type="text">
        <button class="submit button-search dark-change-border search-top"></button>
    </form>
    <img class="catletit" src="~/images/catletit.png" width=250>
    <img class="nazad" src="~/images/catletitnazad.png" width=250>
   
    <div class="accaunt-flex">
        <div class="main_profile">
            <a href="../index.html">
                <img class="pic_with_text_near1 dark-change-border" src="~/images/kianu.jfif">
            </a>
            <a href="Page_profile/profile_page.html" style="text-decoration: none;">
                <div class="big-name1 dark-change-text">Kianu</div>
            </a>
            <button class="menu-btn"></button>
        </div>
        <dialog class="mini-window-in-angle">
            <p><a class="text-in-menu link-in-menu" href="Page_profile/profile_page.html">Настройки</a></p>
            <p><a class="text-in-menu link-in-menu" href="Page_profile/profile_page.html">Выход</a></p>
            <p>
                <div class="dark-theme">
                    <div class="dark-text text-in-menu">Тёмная тема</div>
                    <div class="toggle-button-cover">
                        <div class="button r" id="button-1">
                            <input class="checkbox" type="checkbox">
                            <div class="knobs"></div>
                            <div class="layer"></div>
                        </div>
                    </div>
                </div>
            </p>
            <button id="close"><img src="~/images/X.svg"></button>
        </dialog>
    </div>
    <form>
        <p class="calend">
            События: <input name="calendar" type="date">
        </p>
    </form>
    <div class="menu dark-change-background-menu dark-change-text">
        <nav id="menu">
            <ul id="left_menu">
                <li><a href="Page_departments/departments.html"> Отделы</a></li>
                <li>Форум</li>
                <li>Впечатления</li>
                <li>Рабочие истории</li>
                <li>Полезная информация</li>
                <li>Руководство</li>
                <li>Партнеры</li>
                <li>Контакты</li>
                <img src="~/images/cat.png" width=270 />
            </ul>
        </nav>
    </div>
</div>
</div>

<div class="student-list id" id="example_0">

    <div class="otstup" id="example_1">
        <div class="Novast">
            <div class="hat">
                <a href="http://google.com" id="example_2">
                    <img class="pic_with_text_near dark-change-border"
                         id="example_3" src="~/images/kianu.jfif" />
                </a>
                <table class="table_name_date">
                    <tr>
                        <td>
                            <div class="name_date">
                                <a class="name-link" href="http://google.com" id="example_4"><b>Kianu</b></a>
                            </div>
                        </td>
                        <td class="clock">
                            <a href="http://google.com" id="example_5">
                                13:58
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text dark-change-text">
                <div class="longtext" id="example_6">
                    Пропал котек!!! <br>
                    Помогите пожалуйста <br>
                    Много свинок Пепп <br>
                    Ups beda!<span class="dots">...</span><span class="more">
                        Шаганэ ты моя, Шаганэ!
                        Потому, что я с севера, что ли,
                        Я готов рассказать тебе поле,
                        Про волнистую рожь при луне.
                        Шаганэ ты моя, Шаганэ.

                        Потому, что я с севера, что ли,
                        Что луна там огромней в сто раз,
                        Как бы ни был красив Шираз,
                        Он не лучше рязанских раздолий.
                        Потому, что я с севера, что ли.

                        Я готов рассказать тебе поле,
                        Эти волосы взял я у ржи,
                        Если хочешь, на палец вяжи —
                        Я нисколько не чувствую боли.
                        Я готов рассказать тебе поле.

                        Про волнистую рожь при луне
                        По кудрям ты моим догадайся.
                        Дорогая, шути, улыбайся,
                        Не буди только память во мне
                        Про волнистую рожь при луне.

                        Шаганэ ты моя, Шаганэ!
                        Там, на севере, девушка тоже,
                        На тебя она страшно похожа,
                        Может, думает обо мне…
                        Шаганэ ты моя, Шаганэ.
                    </span></p>
                    <button class="myBtn">Read more</button>
                </div>
            </div>
            <p></p>
            <div class="icon">
                <div class="container">
                    <div class="mySlides ">
                        <img class="open-modal" src="~/images/1.jfif" style="width:80%">
                    </div>
                    <div class="mySlides ">
                        <img class="open-modal" src="~/images/2.jfif" style="width:80%">
                    </div>
                    <div class="mySlides ">
                        <img class="open-modal" src="~/images/3.jfif" style="width:80%">
                    </div>
                    <div class="mySlides ">
                        <img class="open-modal" src="~/images/4.jfif" style="width:80%">
                    </div>
                    <div class="mySlides ">
                        <img class="open-modal" src="~/images/5.jfif" style="width:80%">
                    </div>
                    <div class="mySlides ">
                        <img class="open-modal" src="~/images/6.jfif" style="width:80%">
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                    <div class="row">
                        <div class="column">
                            <img class="demo cursor open-modal" onclick="currentSlide(1)" src="~/images/1.jfif"
                                 style="width:50%">
                        </div>
                        <div class="column">
                            <img class="demo cursor open-modal" onclick="currentSlide(2)" src="~/images/2.jfif"
                                 style="width:50%">
                        </div>
                        <div class="column">
                            <img class="demo cursor open-modal" onclick="currentSlide(3)" src="~/images/3.jfif"
                                 style="width:50%">
                        </div>
                        <div class="column">
                            <img class="demo cursor open-modal" onclick="currentSlide(4)" src="~/images/4.jfif"
                                 style="width:50%">
                        </div>
                        <div class="column">
                            <img class="demo cursor open-modal" onclick="currentSlide(5)" src="~/images/5.jfif"
                                 style="width:50%">
                        </div>
                        <div class="column">
                            <img class="demo cursor open-modal" onclick="currentSlide(6)" src="~/images/6.jfif"
                                 style="width:50%">
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <p></p>
            <div class="tools">

                <button class="button_like"><img src="~/images/lik.png" /></button>
                <button class="button_share"><img src="~/images/share.png" /></button>

                <div class=" commentarium ">
                    <button class="button_comment"><img src="~/images/comment.png" /></button>
                    <ul>
                        <div class="string_comment">
                            <a href="http://google.com">
                                <img class="pic_with_text_near dark-change-border"
                                     src="~/images/kianu.jfif" />
                            </a>
                            <input class="vvod position-in-vvod dark-change-border">
                            <button class="button_send position-in-button"><img src="~/images/flight.png" /></button>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="otstup">
        <div class="Novast">
            <div class="hat">
                <a href="http://google.com">
                    <img class="pic_with_text_near dark-change-border"
                         src="~/images/kianu.jfif" />
                </a>
                <table class="table_name_date">
                    <tr>
                        <td>
                            <div class="name_date">
                                <a class="name-link" href="http://google.com"><b>Kianu</b></a>
                            </div>
                        </td>
                        <td class="clock">
                            <a href="http://google.com">
                                13:58
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text dark-change-text"></div>
            <div class="icon ">
                <img class="open-modal" src="http://placekitten.com/600/500">
            </div>
            <p></p>
            <div class="tools">

                <button class="button_like"><img src="~/images/lik.png" /></button>
                <button class="button_share"><img src="~/images/share.png" /></button>

                <div class=" commentarium ">
                    <button class="button_comment"><img src="~/images/comment.png" /></button>
                    <ul>
                        <div class="string_comment">
                            <a href="http://google.com">
                                <img class="pic_with_text_near dark-change-border"
                                     src="~/images/kianu.jfif" />
                            </a>
                            <input class="vvod position-in-vvod dark-change-border">
                            <button class="button_send position-in-button"><img src="~/images/flight.png" /></button>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="otstup">
        <div class="Novast">
            <div class="hat">
                <a href="http://google.com">
                    <img class="pic_with_text_near dark-change-border"
                         src="~/images/kianu.jfif" />
                </a>
                <table class="table_name_date">
                    <tr>
                        <td>
                            <div class="name_date">
                                <a class="name-link" href="http://google.com"><b>Kianu</b></a>
                            </div>
                        </td>
                        <td class="clock">
                            <a href="http://google.com">
                                13:58
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text dark-change-text">
                <div class="longtext">
                    Прекрасное далеко <br>
                    Ups beda!<span class="dots">...</span><span class="more">
                        Задремали звезды золотые,
                        Задрожало зеркало затона,
                        Брезжит свет на заводи речные
                        И румянит сетку небосклона.

                        Улыбнулись сонные березки,
                        Растрепали шелковые косы.
                        Шелестят зеленые сережки,
                        И горят серебряные росы.

                        У плетня заросшая крапива
                        Обрядилась ярким перламутром
                        И, качаясь, шепчет шаловливо:
                        «С добрым утром!»

                    </span></p>
                    <button class="myBtn">Read more</button>
                </div>
            </div>
            <div class="icon ">
                <img class="open-modal" src="http://placekitten.com/600/500">
            </div>
            <p></p>
            <div class="tools">
                <button class="button_like"><img src="~/images/lik.png" /></button>
                <button class="button_comment"><img src="~/images/share.png" /></button>
                <div class=" commentarium ">
                    <button class="button_comment"><img src="~/images/comment.png" /></button>
                    <ul>
                        <div class="string_comment">
                            <a href="http://google.com">
                                <img class="pic_with_text_near dark-change-border"
                                     src="~/images/kianu.jfif" />
                            </a>
                            <input class="vvod position-in-vvod dark-change-border">
                            <button class="button_send position-in-button"><img src="~/images/flight.png" /></button>
                        </div>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <hr>

    <div class="otstup">
        <div class="Novast">
            <div class="hat">
                <a href="http://google.com">
                    <img class="pic_with_text_near dark-change-border"
                         src="~/images/kianu.jfif" />
                </a>
                <table class="table_name_date">
                    <tr>
                        <td>
                            <div class="name_date">
                                <a class="name-link" href="http://google.com"><b>Kianu</b></a>
                            </div>
                        </td>
                        <td class="clock">
                            <a href="http://google.com">
                                13:58
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text dark-change-text"></div>
            <div class="icon ">
                <img class="open-modal" src="http://placekitten.com/600/500">
            </div>
            <p></p>
            <div class="tools">
                <button class="button_like"><img src="~/images/lik.png" /></button>
                <button class="button_share"><img src="~/images/share.png" /></button>
                <div class=" commentarium ">
                    <button class="button_comment"><img src="~/images/comment.png" /></button>
                    <ul>
                        <div class="string_comment">
                            <a href="http://google.com">
                                <img class="pic_with_text_near dark-change-border"
                                     src="~/images/kianu.jfif" />
                            </a>
                            <input class="vvod position-in-vvod dark-change-border">
                            <button class="button_send position-in-button"><img src="~/images/flight.png" /></button>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="otstup">
        <div class="Novast">
            <div class="hat">
                <a href="http://google.com">
                    <img class="pic_with_text_near dark-change-border"
                         src="~/images/kianu.jfif" />
                </a>
                <table class="table_name_date">
                    <tr>
                        <td>
                            <div class="name_date">
                                <a class="name-link" href="http://google.com"><b>Kianu</b></a>
                            </div>
                        </td>
                        <td class="clock">
                            <a href="http://google.com">
                                13:58
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text dark-change-text"></div>
            <div class="icon ">
                <img class="open-modal" src="http://placekitten.com/600/500">
            </div>
            <p></p>
            <div class="tools">

                <button class="button_like"><img src="~/images/lik.png" /></button>
                <button class="button_share"><img src="~/images/share.png" /></button>

                <div class=" commentarium ">
                    <button class="button_comment"><img src="~/images/comment.png" /></button>
                    <ul>
                        <div class="string_comment">
                            <a href="http://google.com">
                                <img class="pic_with_text_near dark-change-border"
                                     src="~/images/kianu.jfif" />
                            </a>
                            <input class="vvod position-in-vvod dark-change-border">
                            <button class="button_send position-in-button"><img src="~/images/flight.png" /></button>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="otstup">
        <div class="Novast">
            <div class="hat">
                <a href="http://google.com">
                    <img class="pic_with_text_near dark-change-border"
                         src="~/images/kianu.jfif" />
                </a>
                <table class="table_name_date">
                    <tr>
                        <td>
                            <div class="name_date">
                                <a class="name-link" href="http://google.com"><b>Kianu</b></a>
                            </div>
                        </td>
                        <td class="clock">
                            <a href="http://google.com">
                                13:58
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text dark-change-text"></div>
            <div class="icon ">
                <img class="open-modal" src="http://placekitten.com/600/500">
            </div>
            <p></p>
            <div class="tools">

                <button class="button_like"><img src="~/images/lik.png" /></button>
                <button class="button_share"><img src="~/images/share.png" /></button>

                <div class=" commentarium ">
                    <button class="button_comment"><img src="~/images/comment.png" /></button>
                    <ul>
                        <div class="string_comment">
                            <a href="http://google.com">
                                <img class="pic_with_text_near dark-change-border"
                                     src="~/images/kianu.jfif" />
                            </a>
                            <input class="vvod position-in-vvod dark-change-border">
                            <button class="button_send position-in-button"><img src="~/images/flight.png" /></button>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="otstup">
        <div class="Novast">
            <div class="hat">
                <a href="http://google.com">
                    <img class="pic_with_text_near dark-change-border"
                         src="~/images/kianu.jfif" />
                </a>
                <table class="table_name_date">
                    <tr>
                        <td>
                            <div class="name_date">
                                <a class="name-link" href="http://google.com"><b>Kianu</b></a>
                            </div>
                        </td>
                        <td class="clock">
                            <a href="http://google.com">
                                13:58
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text dark-change-text"></div>
            <div class="icon ">
                <img class="open-modal" src="http://placekitten.com/600/500">
            </div>
            <p></p>
            <div class="tools">

                <button class="button_like"><img src="~/images/lik.png" /></button>
                <button class="button_share"><img src="~/images/share.png" /></button>

                <div class=" commentarium ">
                    <button class="button_comment"><img src="~/images/comment.png" /></button>
                    <ul>
                        <div class="string_comment">
                            <a href="http://google.com">
                                <img class="pic_with_text_near dark-change-border"
                                     src="~/images/kianu.jfif" />
                            </a>
                            <input class="vvod position-in-vvod dark-change-border">
                            <button class="button_send position-in-button"><img src="~/images/flight.png" /></button>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class='up-button'>
        <img src='~/images/up.svg'>
    </div>
    <div class="modal">
        <div class="close-button">Close</div>
        <div class="modal-content">
            <img id="modal-image" src="ric.jpg">
        </div>
    </div> 
</div>
<br />
<br />
<div id="indicator">
    <p align="center">Go eshe lampovo posidim</p>
</div>

<script src="~/js/button-top.js"></script>
<script src="~/js/catlet.js"></script>
<script src="~/js/coolgallery.js"></script>
<script src="~/js/dropdowncomment.js"></script>
<script src="~/js/fotojson.js"></script>
<script src="~/js/modal_windows.js"></script>
<script src="~/js/posttxt.js"></script>
<script src="~/js/readmore.js"></script>
<script src="~/js/scrolling.js"></script>
<script src="~/js/upButton.js"></script>
<script src="~/js/accnamejson.js"></script>
<script src="~/js/smart_scrolling.js"></script>
<script src="~/js/OnloadIndex.js"></script>
<script src="~/js/button_like.js"></script>
