
.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer {
    border-radius: 100px;
}


.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
    content: 'NO';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #0059b4;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
    content: 'YES';
    color: white;
    left: 42px;
    background-color: black; /*цвет круга yes*/
}

#button-1 .checkbox:checked ~ .layer {
    background-color: gray; /* цвет овала yes*/
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer {
    transition: 0.3s ease all;
}



.tools {
    display: flex;
    flex-direction: row;
}

.tools button {
    width: 40px;
    height: 30px;
}


.calend {
    font-family: 'Philosopher', sans-serif;
    color: #0059b4;
    position: absolute;
    left: 700px;
    font-size: 30px;
    top: 350px;
}

.string_comment {
    margin: 0px -120px;
    display: flex;
    border: 2px solid;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 20px;
    width: 600px;
    height: 140px;
    padding: 10px;
    color: #0059b4;
    border-radius: 10px;
    border-radius: 10px;
    background: white;
}


.commentarium ul {
    display: none;
}


.commentarium.open ul {
    display: block;
}


.commentarium.button_comment {
    font-size: 18px;
    cursor: pointer;
}


.position-in-vvod {
    position: relative;
    top: 50px;
    left: 20px;
    width: 400px;
    height: 30px;
}

.position-in-button {
    position: relative;
    left: 30px;
    width: 40px;
    height: 30px;
    top: 55px;
}

.button_like{
	width: 40px;
    height: 30px;
}


.button_like.open{
background-color: pink;
}
